
.sidebar-element
{
    min-height:50px;
}
.content-element
{
    min-height:50px;
}
.sidebar-title
{
    width:100%;
    height:auto;
}
.sidebar-title-text
{
    width:100%;
    font-family: 'Noto Sans KR', sans-serif;
    height:auto;
    margin-block-start: 0;
    margin-block-end: 0;
}
.sidebar-social
{
    width:100%;
    background-color: white;
    height:50px;
}
.sidebar-social-item
{
    float:left;
    width:25%;
    height:50px;
}
.sidebar-social-icon
{
    width:100%;
    height:30px;
    margin-top:10px;
    margin-bottom:10px;
    object-fit: contain;
}
.sidebar-header
{
    width:100%;
    height:auto;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}
.sidebar-project-type
{
    width:100%;
}
.sidebar-project-type-item
{
    width:100%;
    margin-top:1px;
    margin-bottom:1px;
}
.sidebar-project-type-item-title
{
    text-align: center;
    width:100%;
    color:black;
    line-height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
.content-element-item-image
{
    width:95%;
    height:auto;
    margin:2.5%;
    border-radius: 20px;
}

.post-heading
{
    width:95%;
    margin:2.5%;
}

.post-view-now {
  background-color: #4CAF50; /* Green */
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  width:80%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.post-heading-title
{
    width:100%;
    font-family: 'Noto Sans KR', sans-serif;
}
.page-title
{
    font-family: 'Noto Sans KR', sans-serif; 
}
.project-logo
{
    width:100%;
}

.post-bio-container
{
    width:85%;
    margin:2.5%;
    padding:0px;
    float:left;
    font-family: 'Noto Sans KR', sans-serif;
}

.content-element-item-image-container
{
    float:left;
    width:25%;
    height:auto;
}
.content-element-item-text-container
{
    float:left;
    width:75%;
    height:auto;
}

.content-element-item h3
{
    font-family: 'Sansita Swashed', cursive;
    color:black;
}

.content-element-item h5,
.content-element-item h6
{
    font-family: 'Noto Sans KR', sans-serif;
    color:black;
}

@media screen and (max-width: 700px) {
    /*Mobile and Tablet Screens*/
    .sidebar-element
    {
        width:100%;
        padding-top: 20px;
    }
    .sidebar-margin
    {
        width:100%;
        float:left;
        height:50px;
    }
    .content-element
    {
        width:100%;
        padding-top: 20px;
    }
    .sidebar-profile
    {
        width:30%;
        height: auto;
        margin-top: 20px;
        margin-left:35%;
        margin-right:35%;
    }
    .sidebar-profile-image
    {
        width:98%;
        margin:1%;
        border:2px solid white;
        border-radius: 50%;
    }
    .post-image-container
    {
        width:100%; 
        float:left;
    }
    .content-element-item
    {
        float:left;
        font-family: 'Noto Sans KR', sans-serif;
        width:100%;
        height:auto;
    }
}

@media screen and (min-width: 701px) {
    .sidebar-element
    {
        width:20%;
        padding-top: 20px;
        min-height:auto;
        float:left;
    }
    .content-element
    {
        width:80%;
        padding-top: 20px;
        min-height:100%;
        float:left;
    }
    .post-image-container
    {
        width:10%; 
        float:left;
    }
    .sidebar-profile
    {
        width:50%;
        height: auto;
        margin-left:25%;
        margin-right:25%;
    }
    .sidebar-profile-image
    {
        width:98%;
        margin:1%;
        border-radius: 50%;
    }

    .content-element-item
    {
        float:left;
        width:50%;
        height:auto;
    }
}
.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 15px 7px 10px !important;line-height: 35px !important;height:51px !important;text-decoration: none !important;display:inline-flex !important;color:#FFFFFF !important;background-color:#FF813F !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 15px 7px 10px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#FFFFFF !important;}