<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p style="text-align: center;">Experienced Mobile App Developer with a proven track record of designing and developing high-quality mobile applications for iOS and Android platforms. Skilled in delivering robust, scalable solutions with a portfolio of regularly updated apps and NuGet packages available in the store.
<br><br>
          Passionate about driving innovation in software development, constantly seeking new ways to enhance code quality, efficiency, and maintainability. Dedicated to improving development practices by leveraging advanced tools and methodologies that elevate both the programming process and the final product.</p>
      </div>
    </div>
  </div>
</section>
