    </main>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a style="text-decoration: none;margin:10px; color:black;" href="{{site.github}}"><i class="icon-github icon-2x"></i></a>
                <a style="text-decoration: none;margin:10px; color:black;" href="{{site.apple}}"><i class="icon-apple icon-2x"></i></a>
                <a style="text-decoration: none;margin:10px; color:black;" href="{{site.twitter}}"><i class="icon-twitter icon-2x"></i></a>
                <a style="text-decoration: none;margin:10px; color:black;" href="{{site.linkedIn}}"><i class="icon-linkedin icon-2x"></i></a>
            </p>
            <p class="mb-1"></p>
            <p class="mb-0">Copyright Robert Wildgoose 2019 ©</p>
        </div>
    </footer>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>