<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <span class="skills">{{ site.description }}</span>
                    <hr class="star-light">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>
                <h3>Where To Find Me</h3>
                <ul class="list-inline">
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="https://apps.apple.com/bh/developer/robert-wildgoose/id1469132514" class="btn-social btn-outline"><i class="fa fa-fw fa-apple"></i></a>
                    </li>
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                    </li>
                    {% endif %}
                    {% if site.instagram_username %}
                    <li>
                        <a href="https://www.instagram.com/{{ site.instagram_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                    </li>
                    {% endif %}
                    {% if site.stackoverflow_url %}
                    <li>
                        <a href="{{ site.stackoverflow_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
                    </li>
                    {% endif %}
                    {% if site.googleplus_username %}
                    <li>
                        <a href="https://plus.google.com/+{{ site.googleplus_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    {% endif %}
                    {% if site.skype_username %}
                    <li>
                        <a href="skype:{{ site.skype_username }}?call" class="btn-social btn-outline"><i class="fa fa-fw fa-skype"></i></a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_url %}
                    <li>
                        <a href="{{ site.linkedin_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    {% endif %}
                </ul>
                </center>
            </div>
        </div>
    </div>
</header>
