<!-- Portfolio Grid Section -->
<section class="success" id="portfolio_nugets">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>iOS Mobile Apps</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <center><h5>Currently my iOS App store account is inactive, but will be reactivating, hence some of the apps below are not linked.</h4></center>
      <br>
    </div>
    <div class="row">
      {% for post in site.iosapps %}
      <div class="col-sm-12 col-md-6 col-lg-3">
        <a href="{{ post.link }}" class="portfolio-link">
          <img src="img/portfolio/ios_apps/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</section>